.status-buttons {
    text-align: center;
}

.comment-box {
    margin: 20px auto;
    width: 60%;
}

input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin: 0px 5px;
    padding: 6px 12px;
    border-radius: 5px;
}

input[type=radio]:checked + label{
    background-image: none;
    background-color: #555;
}

label[for=green]{
    background-color: #34ff00;
}

input[type=radio]:checked + label[for=green]{
    background-color: #1C8700;
}

label[for=yellow]{
    background-color: #f5f52a;
}

input[type=radio]:checked + label[for=yellow]{
    background-color: #f5b92a;
}

label[for=red]{
    background-color: #ff0d01;
}

input[type=radio]:checked + label[for=red]{
    background-color: #aa0a01;
}


