.container-fluid {
    padding: 40px 0px;
}

.prompt {
    padding-bottom: 20px;
    max-width: 60%;
    margin: auto;
    font-size: 30px;
    font-weight: normal;
}

.prompt .url-error {
    font-size: 20px;
}

.student-name {
    margin: 20px auto;
    font-size: 22px;
}

.comment-box {
    margin: 20px auto;
    width: 60%;
    font-size: 18px;
}

.comment-box label {
    margin: 40px auto 20px auto;
}

input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin: 4px 0px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
}

input[type=radio]:checked + label{
    background-image: none;
    background-color: #555;
}

label[for=green]{
    background-color: #34ff00;
}

input[type=radio]:checked + label[for=green]{
    background-color: #34ff00;
    border: 5px solid #1c8700;
}

label[for=yellow]{
    background-color: #f5f52a;
}

input[type=radio]:checked + label[for=yellow]{
    background-color: #f5f52a;
    border: 5px solid #f5b92a;
}

label[for=red]{
    background-color: #ff0d01;
    color: #fff;
}

input[type=radio]:checked + label[for=red]{
    border: 5px solid #aa0a01;
    background-color: #ff0d01;
}


